anyio==4.2.0
blinker==1.7.0
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
databases==0.8.0
SQLAlchemy>=1.4.42,<1.5
fastapi==0.95.1
fastapi-utils==0.2.1
firebase-admin
gunicorn==21.2.0
httpx
idna==3.6
limits
lxml==4.9.4
numpy==1.26.2
opendatasets
pandas==2.1.4
proto-plus==1.23.0
protobuf==4.25.1
pyasn1==0.5.1
pycryptodome==3.19.0
pydantic<2.0.0,>=1.6.2
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
pytest
requests
scikit-learn
slowapi
starlette>=0.26.1,<0.27.0
urllib3==2.1.0
uvicorn==0.25.0
Werkzeug==3.0.1
pytest-mock
pytest-asyncio
